.myButton {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 12px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #f6f6f6;
}

.myButton:active {
    position: relative;
    top: 1px;
}